/* Website colors */
:root{


    /* /// --COLORS VARIABLES START --// */
    
    /* --------------------------- 
        Orange colors 
    */
    --primary-orange:#FF6945;
    --secondary-orange: #FA497D;
    --bluefororange:#004F6F;
    --grayfororange:#56423D;

    /* 
    /----------white color----------
    */
   
    
        /* Deep Blue */
        --deep-blue-primary: #003366;   /* Main color for headers, buttons, and important elements */
        --deep-blue-complimentary: #66CCFF;   /* Used for background or hover effects to provide contrast */
        --deep-blue-secondary: #336699;   /* Used for borders, dividers, or secondary elements */
        --deep-blue-accent: #99CCFF;   /* Used for highlighting, links, or call-to-action buttons */
        
        /* Dark Gray */
        --dark-gray-primary: #333333;   /* Primary text color for readability */
        --dark-gray-complimentary: #CCCCCC;   /* Used for backgrounds or subtle accents */
        --dark-gray-secondary: #666666;   /* Used for borders, dividers, or secondary text */
        --dark-gray-accent: #999999;   /* Used for form inputs, icons, or subtle highlights */
        --dark-gray-background: #1F1F1F;   /* Alternate background color for sections or cards */
        
        /* Electric Yellow */
        --electric-yellow-primary: #FFD700;   /* Used sparingly for attention-grabbing elements */
        --electric-yellow-complimentary: #333300;   /* Used for buttons or icons to create contrast */
        --electric-yellow-secondary: #FFA500;   /* Used for warning messages or alerts */
        --electric-yellow-accent: #FFFF00;   /* Used for highlights, badges, or active states */
        
        /* Red */
        --red-primary: #990000;   /* Used for error messages, alerts, or important notifications */
        --red-complimentary: #FF6666;   /* Used for hover effects or subtle accents */
        --red-secondary: #CC3333;   /* Used for buttons, links, or icons to indicate urgency */
        --red-accent: #FF0000;   /* Used for critical actions, such as delete or cancel */
        
        /* White */
        --white: #FFFFFF;   /* Main background color */
      
      
    /* /// --COLORS VARIABLES END --// */

    /* /// --FONTS VARIABLES START --// */

    --opensans: "Open Sans", sans-serif;
    --lato: "Lato", sans-serif;
    --poppins: "Poppins", sans-serif;
    --Roboto: "Roboto", sans-serif;
}

